/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: yellowgreen;
  background: url('./setting.png');
  font-family: 'MyFont';
} */

body {
  background: yellowgreen;
}